/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: burlywood;
  margin: 30px auto;
  position: relative;
  z-index: -1;
}

.leaf{
	transform: rotate(30deg);
	z-index: 1000;
}
.p1 {
  width: 150px;
  height: 150px;
  position: relative;
  left: 200px;
  border-radius: 300px 5px 300px 3px;
  background: orange;
}
.p2 {
  width: 150px;
  height: 150px;
  position: relative;
  left: 245px;
  bottom: 120px;
  border-radius: 5px 300px 3px 300px;
  transform: rotate(45deg);
  background: orange;
}
.p3 {
  width: 150px;
  height: 150px;
  position: relative;
  left: 300px;
  bottom: 300px;
  border-radius: 5px 300px 3px 300px;
  background: orange;
}

.pumpkin {
  width: 220px;
  height: 300px;
  background: rgb(255,192,109);
  background: linear-gradient(0deg, rgba(255,192,109,1) 0%, rgba(250,137,0,1) 41%, rgba(214,115,1,1) 100%);
  border-radius: 30% 30% 40% 40% / 40% 40% 20% 20%;
  position: relative;
  left: 600px;
  top: 200px;
  z-index: 100;
}

.ribbon {
  width: 600px;
  height: 40px;
  position: relative;
  left: 300px;
  bottom: 550px;
  background: red;
  z-index: 90;
}
.ribbon:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.ribbon:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.table {
  border-bottom: 600px solid white;
  border-left: 360px solid transparent;
  border-right: 0px solid transparent;
  position: relative;
  bottom: 790px;
  z-index: -1;
}
  